<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>SmsServlet</servlet-name>
    <servlet-class>de.hdm.gruppe1.server.SmsImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SmsServlet</servlet-name>
    <url-pattern>/hdm_sms/sms</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SmsReportServlet</servlet-name>
    <servlet-class>de.hdm.gruppe1.server.report.SmsReportImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SmsReportServlet</servlet-name>
    <url-pattern>/de.hdm.gruppe1.HdM_smsReport/smsReport</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Hdm_sms.html</welcome-file>
    <welcome-file>Hdm_smsReport.html</welcome-file>
  </welcome-file-list>

</web-app>
